.main-title {
  max-width: 60%;
  margin-bottom: 20px;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.home-page__title {
  margin-bottom: 20px;
}
.themes-list {
}
.themes-list__item {
  font-size: 18px;
}
.themes-list__link {
}
