// ----------------------------------  task 3
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0;
  list-style: none;
}
.gallery-img {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(31, 57, 61, 0.582);
}
// ----------------------------------  task 6
#validation-input {
  border: 2px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;

  // --------------------------------  task 8
}
.login-form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 16px;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 4px;
  font: inherit;
}
