.button-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  & button {
    font-weight: 600;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.input-box {
  display: flex;
  align-items: center;
}
.volume-control-box {
  display: flex;
  align-items: center;

  &:hover .volume-value {
    opacity: 1;
  }

  // &::before {
  //   content: '';
  //   margin-left: 14px;
  //   width: 24px;
  //   height: 24px;
  //   background-image: url('../images/volume-medium.svg');
  //   background-size: contain;
  //   fill: #184075;
  // }
  // &.mute::before {
  //   background-image: url('../images/volume-mute2.svg');
  // }
}
.volume-icon {
  margin-left: 14px;
  margin-right: 2px;
  width: 24px;
  height: 24px;
  background-image: url('../images/volume-medium.svg');
  background-size: contain;
  fill: #184075;

  &.mute {
    background-image: url('../images/volume-mute2.svg');
  }

  &:hover .volume-value {
    opacity: 1;
  }
}

.volume-control {
  padding: 0;
  width: 70px;
  &:focus ~ .volume-value {
    opacity: 1;
  }
}

.volume-value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: rgb(150, 190, 224);
  opacity: 0;
}

.timer-box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  align-items: center;

  & button {
    height: 35px;
    width: 80px;
    border-radius: 6px;
    margin-left: 8px;
    cursor: pointer;
    background-color: rgb(181, 255, 181);
    box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.5);

    &:disabled {
      background-color: rgba(202, 202, 202, 0.733);
      cursor: not-allowed;
    }
  }
}

#datetime-picker {
  height: 35px;
  border-radius: 6px;

  box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.5);
}

.timer {
  display: flex;
  gap: 40px;
  font-size: large;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .value {
    font-size: 77px;
  }
}
