<nav class="nav">
  <h3>Навігація</h3>
  <ul class="nav__list">
    <li class="nav__item"><a href="/src/index.html">Головна</a></li>
    <li class="nav__item"><a href="/src/pages/hw-06/hw-06.html">Домашнє завдання 06</a></li>
    <li class="nav__item"><a href="/src/pages/hw-07/hw-07.html">Домашнє завдання 07</a></li>
    <li class="nav__item"><a href="/src/pages/hw-08/hw-08.html">Домашнє завдання 08</a></li>
    <li class="nav__item"><a href="/src/pages/hw-09/hw-09.html">Домашнє завдання 09</a></li>
    <li class="nav__item"><a href="/src/pages/hw-10/hw-10.html">Домашнє завдання 10</a></li>
  </ul>
</nav>
